.App {
  position: relative;
}

h4 {
  color: rgb(244, 53, 53, 0.80);
}

.App-logo {
  position: absolute;
  height: 75px;
  width: 100px;
  left: 2%;
}


.App-header {
  position: relative;
}

.App-header-btn {
  border: 1px solid rgb(244, 53, 53, 0.80);
  height: 25px;
  width: 110px;
  border-radius: 10px;
  color: white;
  background-color: rgb(244, 53, 53, 0.80);
  margin-left: 1%;
  margin-right: 1%;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
  cursor: pointer;
}

.btn-login {
  position: absolute;
  display: flex;
  flex-direction: row;
  right: 2%;
  margin-top: 1%;
}

.main {
  display: flex;
  flex-direction: row;
}

.main-card {
  margin-top: 28%;
  border: 2px outset rgb(244, 53, 53, 0.80);
  height: 200px;
  width: 48vw;
  padding: 1%;
  margin-left: 5%;
  margin-right: 5%;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
